<div ng-controller="HomeCtrl" ng-init="setPostsOnInit(<%= json_for(@posts) %>)">         <!-- this div contains a form for uploaing posts -->
  <div id="container">
    <div class="row"><!-- row -->
      <div class="col-lg-12"><!-- col -->
        <div id="iso-container" isotope-container iso-options-subscribe="my-iso-opts" iso-method-subscribe="my-iso-method" iso-options="{layoutMode:'masonry', masonry:{columnWidth: 210, cornerStampSelector: '.corner-stamp'}, animationEngine : 'jquery'}">

          <li style="list-style-type: none;" isotope-item>
            <img class="corner-stamp" ng-click="openNewPostModalForm()">
          </li>

          <li style="list-style-type: none;" ng-repeat="post in posts" isotope-item class="{{post.tag_list | taglist}}">
            <a color-box ng-href="{{post.original}}" class="gallery" ng-click="openColorBox()">
              <img ng-src="{{post.asset}}" class="iso-image img-responsive">
            </a>
          </li>

        </div>
        <!-- end iso-container  -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>


</div>