<div class='ng-modal' ng-show='show'>

   <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-close' ng-click='hideModal()'>X</div>
        <div class='ng-modal-dialog-content' ng-transclude> </div>
        <div class="arrows">
            <a href="#" ng-click="prev()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#" ng-click="next()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

</div>